# Install nfs operator
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- github.com/krestomatio/nfs-operator/config/default?ref=v{{ env['NFS_OPERATOR_VERSION'] | default(nfs_operator_version) }}
