# Install moodle operator
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- github.com/krestomatio/moodle-operator/config/default?ref=v{{ env['MOODLE_OPERATOR_VERSION'] | default(moodle_operator_version) }}
